<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.wcy.common">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>
    </queries>

    <application>
        <activity
            android:name=".ui.activity.FragmentContainerActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>